* {
  margin: 0;
  padding: 0;
}

section {
  width: 80%;
  margin: auto;
  display: grid;
  gap: 10px;
}

.A {
  grid-area: 1/1/4/1;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}

.B {
  grid-area: 1/2/1/4;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}

.C {
  grid-area: 1/4/1/5;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}
.D {
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
}
.E {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}

.F {
  grid-area: 2/4/4/5;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
.G {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}
.H {
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
}
